.sussecc {
  padding: 10px 20px;
  background-color: green;
}
.button {
  display: inline-block;
}
.button button {
  box-sizing: border-box;
  color: #fff;
  border: none;
  border: 1px solid;
  outline-style: none;
  cursor: pointer;
}
.button .danger {
  background-color: #fa6060;
  border-color: #fa6060;
}
.button .danger:hover {
  background-color: #f59b9b;
  border-color: #f59b9b;
}
.button .danger.disabled {
  background-color: #f6b6b6;
  border-color: #f6b6b6;
  cursor: not-allowed;
}
.button .warning {
  background-color: #f3dd15;
  border-color: #f3dd15;
}
.button .warning:hover {
  background-color: #f8e74b;
  border-color: #f8e74b;
}
.button .warning.disabled {
  background-color: #f7ec90;
  border-color: #f7ec90;
  cursor: not-allowed;
}
.button .text {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.button .text:hover {
  color: #9be4fa;
  background-color: #fff;
}
.button .text.disabled {
  color: #d6d7d9;
  cursor: not-allowed;
}
.button .primary {
  background-color: #86e0fb;
  border-color: #86e0fb;
}
.button .primary:hover {
  background-color: #9be4fa;
  border-color: #9be4fa;
}
.button .primary.disabled {
  background-color: #b9e9f7;
  border-color: #b9e9f7;
  cursor: not-allowed;
}
.button .info {
  background-color: #b1b3b8;
  border-color: #b1b3b8;
}
.button .info:hover {
  background-color: #b9babe;
  border-color: #b9babe;
}
.button .info.disabled {
  background-color: #dee0e4;
  border-color: #d6d7d9;
  cursor: not-allowed;
}
.button .success {
  background-color: #5dd105;
  border-color: #5dd105;
}
.button .success:hover {
  background-color: #63df03;
  border-color: #63df03;
}
.button .success.disabled {
  background-color: #ccf9a9;
  border-color: #ccf9a9;
  cursor: not-allowed;
}
